* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.4em;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;    
}
/*HEADER*/

.header{
    position: fixed;
    z-index: 2;
    background-color: burlywood;
    width: 100%;  
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    min-height: 70px;
    
}
.nav-item{
    margin: 10px;
}

.nav-link {
    padding: 8px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    transition: font-size 0.5s ease,
                  color 0.5s ease;
}
.nav-link:hover{
    color: white;
    font-size: 1.3em;
}
/*MAIN */

.main-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*GENERAL CARD'S*/
@media (max-width: 414px) {
    .card:first-child {
      padding-top: 135px;
    }
  }
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    flex-basis: 481px;
    flex-grow: 1;
    height: 100%;
    padding-top: 112px;
    padding-left: 30px;
    padding-right: 30px;   
}
.card:first-child{
    align-self: center;
    align-items: center;
}
.card:last-child{
    padding-bottom: 56px;
}
.card-header{
    font-size: 26px;
    font-weight: 700;
    align-self: center;
    color: burlywood;
    margin-bottom: 10px;
}
.code-example {
    margin-top: 20px;
    width: 300px;
}
.my-name{
    color:burlywood;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
}
.my-role {
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;    
}
.photo {
    border-radius: 50%;
    max-width: 200px;
    align-self: center;
}
.photo-header {
    display: none;
}
.code-example {
    max-width: 100%; 
}
.list-header{
    color:burlywood;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 8px 0;
}
.list-item {
    position: relative;
    padding-left: 30px;
}
.list-item::before{
    content: "";
    position: absolute;
    top: 4px;
    left: 13px;
    width: 14px;
    height: 14px;
    background-size: 14px 14px; 
    background-image: url("../assets/svg/general-mark.svg");
    
}
.location::before {
    background-image: url("../assets/svg/location-mark.svg");
}
.email::before {
    background-image: url("../assets/svg/email-mark.svg");
}
.discord::before {
    background-image: url("../assets/svg/discord-mark.svg");
}
.telegram::before {
    background-image: url("../assets/svg/telegram-mark.svg");
}
.phone::before {
    background-image: url("../assets/svg/phone-mark.svg");
}
.project-link {
    text-decoration: none;
    color: black;
    transition: font-size 0.5s ease;                
}
.project-link:hover{
    color:burlywood;
}


/*FOOTER*/

.footer {
    background-color: burlywood;
    min-height: 100px;
    width: 100%;
    margin-top: auto;  
}
.footer-wrapper { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.rs-logo, .github-logo {
    margin: 30px;
    width: 80px;
    transition: width 0.5s ease;
}
.rs-logo:hover, .github-logo:hover{
    width: 90px;
}
.year {
    font-size: 26px;
    font-weight: 900;
}
