* {
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;    
}

.header{
    position: fixed;
    background-color: aqua;
    min-height: 100px;
    width: 100%;  
}
.nav-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-item {
    text-decoration: none;
}
.photo {
    border-radius: 50%;
    max-width: 200px;
}
.main {
    margin-top: 100px;
}
.main-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 500px;
}
.footer {
    background-color: burlywood;
    height: 300px;
    margin-top: auto;  
}